@charset "UTF-8"; // Import the whole materializecss library
@import "materialize"; // ------------------------------------------------------------------------------------------------------------------
/**
 * Variables
 */
$max-app-width: 1000px; // ------------------------------------------------------------------------------------------------------------------
/**
 * Utility classes
 */
.primary-bg {
  background-color: $primary-color;
  color: $primary-color--font-color;
}
.secondary-bg {
  background-color: $secondary-color;
  color: $secondary-color--font-color;
}
.tertiary-bg {
  background-color: $tertiary-color;
}
.navbar-fixed.bottom {
  @extend .tertiary-bg;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1000;
  color: white;
}
.hidden-text {
  color: transparent;
}
.preloader-component {
  @extend .center-align;
  padding-top: 100px;
}
.button-preloader-component {
  @extend .center-align;
  padding-top: 3px;
}
.fit-available-width--left {
  overflow: hidden;
  padding-right: 10px;
}
.fit-available-width--right {
  overflow: hidden;
  padding-left: 10px;
}
a {
  color: white;
}
a:active,
a:focus {
  color: white;
}
// ------------------------------------------------------------------------------------------------------------------
/**
 * Preloader customizing
 */
.spinner-primary,
.spinner-primary-only {
  border-color: $primary-color;
}
.spinner-secondary,
.spinner-secondary-only {
  border-color: $secondary-color;
}
// ------------------------------------------------------------------------------------------------------------------
/**
 * Base Site Structure
 */
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
.page-wrapper {
  position: relative;
  max-width: $max-app-width;
  margin: 0 auto;
  background-color: $secondary-color;
  color: $secondary-color--font-color;
  padding: 0;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
  height: 100%;
}
.site-loader-wrapper {
  width: 200px;
  height: 200px;
  margin: -100px;
  position: absolute;
  top: 50%;
  left: 50%;
  .preloader-wrapper {
    height: 100px;
    width: 100px;
    margin-left: 50px;
  }
}
// ------------------------------------------------------------------------------------------------------------------
/**
 * Global View Structure
 */
.view-container-without-padding {
  position: relative;
  height: calc(100vh - #{$navbar-height-mobile});
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}
.view-container {
  @extend .view-container-without-padding;
  padding: 0 10px;
  min-height: 250px;
}
@media only screen and (min-width: 601px) {
  .view-container-without-padding {
    height: calc(100vh - #{$navbar-height});
  }
}
// ------------------------------------------------------------------------------------------------------------------
/**
 * Navigation styling
 */
nav {
  background-color: $tertiary-color !important;
}
.nav-wrapper {
  .mobile-hamburger-btn {
    position: absolute;
    left: 1rem;
    i.material-icons {
      font-size: 3rem;
    }
  }
}
.side-nav {
  z-index: 1001;
}
.side-nav li.logo-header {
  background-color: $secondary-color;
  padding: 0.1px;
  text-align: center;
  border-bottom: 1px solid white;
}
// ------------------------------------------------------------------------------------------------------------------
/**
 * AuthentificationView
 */
.login-form {
  @extend .view-container;
}
// ------------------------------------------------------------------------------------------------------------------
/**
  * AuthentificationView
  */
.register-form {
  @extend .view-container;
}
// ------------------------------------------------------------------------------------------------------------------
/**
 * PostsView
 */
.posts-view {
  @extend .view-container-without-padding;
  .posts {
    height: 100%;
  }
  .btn-floating.big-open-post-form-btn {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    float: right;
    i.material-icons {
      line-height: 5rem;
      font-size: 3rem;
    }
  }
}
// ------------------------------------------------------------------------------------------------------------------
/**
 * The fixed bottom bar, to place buttons on the bottom
 */
.fixed-bottom-bar {
  position: fixed;
  bottom: 0;
  height: calc(5rem + 1rem);
  width: $max-app-width;
  text-align: right;
  padding-right: calc(1rem + 10px);
  padding-bottom: 1rem;
  z-index: 1000;
  /* in case of scrollbar */
}
@media only screen and (max-width: 1000px) {
  .fixed-bottom-bar {
    right: 0;
    left: 0;
    width: 100%;
  }
}
// ------------------------------------------------------------------------------------------------------------------
/**
 * The PostForm
 */
.post-form {
  @extend .view-container;
}
// ------------------------------------------------------------------------------------------------------------------
/**
 * Textarea with responsive text
 */
textarea.flow-textarea.materialize-textarea {
  @extend .flow-text;
}
// ------------------------------------------------------------------------------------------------------------------
/**
 * Post Detail View
 */
.post-detail-view {
  @extend .view-container-without-padding;
}
// ------------------------------------------------------------------------------------------------------------------
/**
 * Conversation List View
 */
.conversation-list-view {
  @extend .view-container-without-padding;
}

$conversation-meta-height: 3.5rem;

.conversation-meta {
  @extend .primary-bg;
  position: relative;
  padding: 10px;
  margin: 1px;
  .row {
    margin: 0;
  }

  &:nth-child(odd) {
    @extend .secondary-bg;
  }
  .conversation-meta--partner-name {
    @extend .fit-available-width--left;
    @extend .fit-available-width--right;
    height: $conversation-meta-height;
    line-height: $conversation-meta-height;
  }

  .conversation-meta--last-contact {
    line-height: $conversation-meta-height;
  }

  .conversation-meta--unread-messages {
    @extend .tertiary-bg;
    font-size: calc(#{$conversation-meta-height} - 2rem);
    line-height: $conversation-meta-height;
    width: $conversation-meta-height;
    height: $conversation-meta-height;
    text-align: center;
  }
}
// ------------------------------------------------------------------------------------------------------------------
/**
 * Conversation Detail View
 */
.conversation-detail-view {
  @extend .view-container-without-padding;
}
.conversation--messages {
  padding-top: 10px;
  padding-bottom: 10px;
  height: calc(100vh - #{$navbar-height-mobile} - #{$navbar-height-mobile});
  overflow-y: scroll;
  overflow-x: hidden;
}
@media only screen and (min-width: 601px) {
  .conversation--messages {
    height: calc(100vh - #{$navbar-height} - #{$navbar-height});
  }
}
.conversation--messages:after,
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
.conversation--message {
  @extend .tertiary-bg;
  float: left;
  clear: both;
  // Now comes the part which is for all messages the same
  position: relative;
  margin: 2px 10px;
  padding: 6px;
  border-radius: 4px;
  min-width: 20vw;
  @extend .z-depth-2;
  .message--date {
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 0.5rem;
  }
  .message--content {
    margin-bottom: 4px;
    margin-top: 1rem;
  }
}
.conversation--message.written-by-myself {
  @extend .primary-bg;
  float: right;
  clear: both;
}
.conversation--send-message {
  @extend .tertiary-bg;
  width: 100%;
  padding: 10px;
  margin: 0;
  height: #{$navbar-height-mobile};
}
@media only screen and (min-width: 601px) {
  .conversation--send-message {
    height: #{$navbar-height};
  }
}
.message--send-btn {
  @extend .primary-bg;
  float: right;
}
.conversation--send-message input.message--text-input {
  margin-bottom: 0;
}
// ------------------------------------------------------------------------------------------------------------------
/**
 * General Post
 */
.posts {
  * .post {
    @extend .primary-bg;
  }
  *:nth-child(odd) post {
    @extend .secondary-bg;
  }
}
.post {
  @extend .flow-text;
  @extend .primary-bg;
  display: block;
  position: relative;
  .row {
    margin-bottom: 0;
  }
  .post--feedback {
    float: right;
    z-index: 0;
    margin: 0 2vw 0 0;
    line-height: 10px;
    text-align: center;
    .post--reputation {
      font-size: 16px;
    }
    i.material-icons {
      font-size: 3rem;
      width: 3rem;
      height: 3rem;
      color: white;
    }
  }
  .post--content {
    position: relative;
    padding: 10px;
    .post--details {
      clear: both;
      .post-location {
        text-align: center;
      }
      .post--action {
        text-align: center;
      }
      .post--owner {
        text-align: right;
      }
    }
  }
  .post--comments {
    @extend .flow-text;
    @extend .secondary-bg;
    position: relative;
    .post--comment {
      position: relative;
      padding: 10px;
      &:nth-child(odd) {
        @extend .primary-bg;
      }
      .comment--owner {
        text-align: right;
      }
    }
  }
}
.given-feedback {
  color: white !important;
}

.post-with-comments {
  background-color: $tertiary-color;
}
/**
 *locator-view
 */
.locator-view {
  color: $primary-color--font-color;
  position: relative;
  .location_symbol {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
  }
}
/**
 * Scrollbar Customizing
 */
/*
::-webkit-scrollbar {
  width: 10px;
  background-color: $primary-color;
}
::-webkit-scrollbar-thumb {
  background-color: #65666B;
  border-radius: 10px;
}*/
// ------------------------------------------------------------------------------------------------------------------
