<navigation></navigation>
<div class="login-form">
  <form *ngIf="login" (ngSubmit)="doStore()">
    <div class="row input-field">
      <input type="text" id="username" name="username" required pattern=".{3,200}" class="" autofocus [(ngModel)]="login.username" />
      <label for="post-text">Benutzername</label>
    </div>
    <div class="row input-field">
      <input type="password" id="username" name="username" required pattern=".{3,200}" class="" autofocus [(ngModel)]="login.password" />
      <label for="post-text">Passwort</label>
    </div>
    <div class="row">
      <button type="submit" name="submit-button" class="btn-large waves-effect tertiary-bg" [class.hidden-text]="isStoring">
        <button-preloader [primary]="true" [show]="isStoring"></button-preloader><i class="material-icons left">done</i>Einloggen</button>
    </div>
    <!--  <div class="navbar-fixed bottom">
      <nav>
        <div class="nav-wrapper">
          <button type="submit" name="submit-button" class="flat left sticky-bottom-button" [class.hidden-text]="isStoring">
            <button-preloader [primary]="true" [show]="isStoring"></button-preloader><i class="material-icons left">done</i>Einloggen</button>
        </div>
      </nav>
    </div>-->
  </form>
</div>
