<navigation></navigation>
<div class="register-form">
  <div class="authentification-view">
    <form *ngIf="register" (ngSubmit)="doStore()">
      <div class="row input-field">
        <input type="password" id="username" name="username" required pattern=".{3,200}" class="" autofocus [(ngModel)]="register.password" />
        <label for="post-text">Passwort</label>
      </div>
      <div class="row input-field">
        <input type="password" id="username" name="username" required pattern=".{3,200}" class="" autofocus [(ngModel)]="register.password_repetition" />
        <label for="post-text">Passwort wiederholen</label>
      </div>
      <button type="submit" name="submit-button" class="btn-large waves-effect tertiary-bg"><i class="material-icons left">done</i>Registrieren</button>
    </form>
  </div>
</div>
