<navigation [onlyBack]="true"></navigation>
<div class="post-form">
  <form *ngIf="post" (ngSubmit)="doStore()">
    <div class="row input-field">
      <textarea id="post-text" autofocus autocomplete="off" rows="10" name="post-text" [(ngModel)]="post.text" class="materialize-textarea flow-textarea" required pattern=".{4,400}" title="Mindestens 4 Zeichen, Maximal 400 Zeichen"></textarea>
      <label for="post-text">Text</label>
    </div>
      <button type="submit" name="submit-button" class="btn-large waves-effect tertiary-bg"><i class="material-icons left">done</i>Posten</button>
  </form>
</div>
