<navigation></navigation>
<div class="posts-view">
  <preloader [show]="!posts" [primary]="true"></preloader>

  <div class="posts">
      <post *ngFor="let post of posts" [post]="post" [hideComments]="true"></post>
  </div>
  <div class="fixed-bottom-bar">
    <a class="btn-floating btn-large waves-effect waves-light tertiary-bg big-open-post-form-btn" (click)="doCreatePost()"><i class="material-icons">add</i></a>
  </div>
</div>
