<div *ngIf="post" class="post" [class.post-with-comments]="!hideComments">
  <ul class="post--feedback">
    <li (click)="upvote()" [attr.disabled]="post.feedback==-1" [class.given-feedback]="post.feedback==1" class="waves-effect waves-light"><i class="material-icons medium">keyboard_arrow_up</i></li>
    <li class="post--reputation">{{post.reputation}}1</li>
    <li (click)="downvote()" [attr.disabled]="post.feedback==1" [class.given-feedback]="post.feedback==-1" class="waves-effect waves-light"><i class="material-icons medium">keyboard_arrow_down</i></li>
  </ul>
  <div class="post--content">
    <p [routerLink]="['/post/detail/' + post.id]" class="post--text">{{post.text}}</p>
    <div class="row post--details">
      <h6 class="post--date col s4"><i class="material-icons tiny">access_time</i>&nbsp;{{post.timestamp | time_ago }}</h6>
      <h6 class="post--location col s5"><i class="material-icons tiny">location_on</i>&nbsp;{{post.location}}</h6>
      <h6 class="post--owner col s3">{{post.user.name}}&nbsp;<i class="material-icons tiny">account_circle</i></h6>
    </div>
  </div>
  <div class="post--comments" *ngIf="!hideComments">
    <div *ngFor="let comment of post.comments" class="post--comment">
      <p class="comment--text">{{comment.text}}</p>
      <div class="comment--bottom-bar row">
        <h6 class="comment--date col s4"><i class="material-icons tiny">access_time</i>&nbsp;{{comment.timestamp | time_ago }}</h6>
        <h6 class="col s4" style="text-align:center;"><i class="material-icons tiny">feedback</i></h6>
        <h6 class="comment--owner col s4">{{comment.user.name}}&nbsp;<i class="material-icons tiny">account_circle</i></h6>
      </div>
    </div>
  </div>
</div>
