<div *ngIf="show" class="preloader-component">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer" [class.spinner-primary-only]="primary" [class.spinner-secondary-only]="!primary">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
