<a class="locator-view btn-flat waves-effect waves-teal" (click)="doLocate()">
  <span class="location_symbol material-icons left">location_searching</span><span class="location">{{location}}</span>
</a>
