<navigation [onlyBack]="true"></navigation>
<div class="conversation-detail-view">
  <div class="conversation--messages">
    <div *ngFor="let message of conversation.messages" class="conversation--message row" [class.written-by-myself]="message.isWrittenByMyself">
      <p class="message--content flow-text">{{message.text}}</p>
      <span class="message--date flow-text">{{message.timestamp | time_ago}}</span>
    </div>
  </div>
  <form (ngSubmit)="doWrite()">
    <div class="conversation--send-message">
      <button type="submit" name="submit" class="btn waves-effect message--send-btn"><i class="material-icons">chat_bubble</i></button>
      <div class="fit-available-width--left">
        <input autocomplete="off" name="message-text" class="message--text-input" [(ngModel)]="newmessage" required pattern=".{1,100}" title="Mindestens 1 Zeichen, Maximal 100 Zeichen" />
      </div>
    </div>
  </form>
</div>
