<navigation></navigation>
<div class="conversation-list-view">
  <div class="conversation-meta" *ngFor="let conversation of conversations">
    <a [routerLink]="['/conversations/' + conversation.partner.id]" class="row">
      <span class="conversation-meta--unread-messages circle left">{{conversation.unreadMessages}}</span>
      <div class="conversation-meta--last-contact right flow-text badge">{{conversation.lastContact | time_ago }}</div>
      <div class="conversation-meta--partner-name flow-text">{{conversation.partner.name}}</div>
    </a>
  </div>
</div>
