<nav>
  <div class="nav-wrapper">
    <ul *ngIf="!onlyBack" class="left hide-on-med-and-down">
      <li *ngFor="let link of navLinks"><a [routerLink]="[link.path]">{{link.title}}</a></li>
    </ul>

    <div *ngIf="!onlyBack" class="mobile-hamburger-btn left hide-on-large-only">
      <a href="#" data-activates="side-nav" class="side-nav-button"><i class="material-icons">menu</i></a>
    </div>

    <div class="right">
      <locator></locator>
    </div>

    <!-- Only visible if onlyBack = true -->
    <ul *ngIf="onlyBack">
      <li><a href="javascript:history.go(-1)"><i class="material-icons">arrow_back</i></a></li>
    </ul>
  </div>

</nav>

<ul id="side-nav" class="side-nav">
  <li class="logo-header">
    <h2 class="brand-logo">Chatnonym</h2>
  </li>
  <li *ngFor="let link of navLinks"><a [routerLink]="[link.path]"><i class="material-icons">navigate_next</i>{{link.title}}</a></li>
</ul>
