<!--<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo left hide-on-large-only">Chatnonym</a>
    <a href="#" class="brand-logo right hide-on-med-and-down">Chatnonym</a>
    <ul class="left hide-on-med-and-down">
      <li *ngFor="let link of navLinks"><a [routerLink]="[link.path]">{{link.title}}</a></li>
    </ul>
    <div class="mobile-hamburger-btn right hide-on-large-only">
      <a href="#" data-activates="side-nav" class="side-nav-button"><i class="material-icons">menu</i></a>
    </div>
  </div>

</nav>
-->
<div class="detail">
  <router-outlet></router-outlet>
</div>

<!--
<ul id="side-nav" class="side-nav">
  <li class="logo-header">
    <h2 class="brand-logo">Chatnonym</h2>
  </li>
  <li *ngFor="let link of navLinks"><a [routerLink]="[link.path]"><i class="material-icons">navigate_next</i>{{link.title}}</a></li>
</ul>
-->
